nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 150%;
}

.nav-links li {
  list-style: none;
}
.logo-container,
.nav-links,
.cart {
  display: flex;
}

.cart {
  justify-content: flex-end;
}
.latest {
  text-align: center;
  margin-top: 100px;
}
